exportPattern("^[[:alpha:]]+")
importFrom("stats", "aggregate", "contr.helmert", "contr.poly", "contr.sum", "contr.treatment", "contrasts", "lm", "predict", "contrasts<-")
importFrom("binaryLogic", "as.binary")
importFrom("FeatureHashing", "hashed.model.matrix", "hash.mapping")
importFrom("rlist", "list.append")
importFrom("BestTransform", "data_distribution", "model_my_data")
importFrom("pbmcapply", "pbmclapply")
importFrom("data.table", "data.table", "as.data.table")
importFrom("mltools", "one_hot")
